# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pool:
  vmImage: ubuntu-latest

variables:
  dotNetVersion: '6.0.x'

stages:
  - stage: Compile_Test
    jobs:
      - job: Build_UnitTest_Coverage
        steps:
        - task: UseDotNet@2
          inputs:
            version: $(dotNetVersion)
            includePreviewVersions: true
        - script: dotnet tool restore
          displayName: dotnet tool restore
        - script: dotnet dotnet-cake --target=Coverage
          displayName: Build & Test & Coverage

  - stage: Deploy
    condition: eq(variables['Build.SourceBranchName'], 'master')
    jobs:
      - job: Publish
        steps:
        - task: UseDotNet@2
          inputs:
            version: $(dotNetVersion)
            includePreviewVersions: true
        - script: dotnet tool restore
          displayName: dotnet tool restore
        - script: dotnet dotnet-cake --target=Publish --configuration=Release
          displayName: Publish package
