name: .NET

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET 8, 7, 6
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          7.0.x
          6.0.x
    - name: Build & Test
      run: |
        dotnet tool restore

        dotnet dotnet-cake --target=Coverage
    - name: Publish
      if: github.ref == 'refs/heads/main'
      run: |
        dotnet tool restore

        dotnet dotnet-cake --target=Publish